.ik_select{
    width: 200px!important;
}
.dealers-list .checkbox{
    display: inline-block;
    margin: 2px 5px;
}
.dealers-list .checkbox input[type="checkbox"]{
    position: relative;
    margin: 0;
}
.dealers-list .textinput-wrapper .inner-wrap{
    display: inline-block;
    width: 150px;
}
.dealers-list .dealers-filter{
    width: 30%;
    float: right;
    min-width: 400px;
}
.dealers-list .map-wrap{
    width: 56%;
    float: left;
}
#dealers-map{
    width: 100%;
    height: 500px;
}
.clear{clear: both;}
.dealers-table{
    margin-top: 30px;
}
.dealers-table thead td{
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
}
.dealers-map-info{
    font-size: 11px;
}
.dealers-map-info p{
    margin: 0;
}
.dealers-map-info h2, .dealers-map-info h3{
    margin: 0 0 5px 0;
}
.dealers-table .catalog-table-item td, .dealers-table .catalog-table-item th, .dealers-table thead td{
    vertical-align: top!important;
    font-size: 13px;
    padding: 10px 15px;
    border: solid #cccccc 1px;
}
.dealers-table-small{
    margin-top: 20px;
    font-size: 13px;
}
.dealers-table-small .item .caption{
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image:    -moz-linear-gradient(top, #fff, #eee);
    background-image:     -ms-linear-gradient(top, #fff, #eee);
    background-image:      -o-linear-gradient(top, #fff, #eee);
    background-image:         linear-gradient(top, #fff, #eee);
}
.dealers-table-small .item{
    margin-bottom: 8px;
}
.dealers-table-small .item .description{
    display: none;
}
@media (max-width: 1023px) {
    .dealers-list .dealers-filter {
        margin-bottom: 20px;
        float: left;
    }
    .dealers-table{
        display: none;
    }
    .dealers-list .map-wrap{
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .dealers-table-small{
        display: none;
    }
}

@media (max-width: 763px) {
    .dealers-list .dealers-filter {
        max-width: 330px;
        min-width: 300px;
    }
}