.yr2-gallery-list{float: left; width: 100%; margin-bottom: 20px;}
.yr2-gallery-item{display: block; float: left; margin-right: 30px; text-align: center; width: 100%;}
.yr2-gallery-item a {border: none !important; float: left; margin: 10px 20px 0px 0px;}