.zoom {
        display:inline-block;
        position: relative;
}

.zoom:after {
        content:'';
        display:block; 
        width:33px; 
        height:33px; 
        position:absolute; 
        top:0;
        right:0;
        background:url('/yenisite.resizer2/js/zoom/icon.png');
}

.zoom img {
        display: block;
}

.zoom img::selection { background-color: transparent; }