a.cloud-zoom {
	border: none !important;
	display: inline-block !important;
}
/*
div.yenisite-photos .yenisite-detail {border:solid 2px #9999ff;}

div.yenisite-photos .yenisite-detail:hover {border:solid 2px black;}
*/
div.yenisite-photos ul{
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div.yenisite-photos ul li{
	list-style: none;
	float: left;
	margin: 8px 8px 8px 0;
}
div.yenisite-photos ul li a {border:none !important;}

div.yenisite-photos .yenisite-icons {border:solid 2px #9999ff;}

div.yenisite-photos .yenisite-icons:hover {border:solid 2px black;}

div #wrap {z-index: 9 !important;}