.ys-user-basket .txt, textarea {
    border: 1px solid #7c7c7c !important;
}

.ys-user-basket a, .ys-user-basket .sitemap li.expanded li a span {
color:#3b91e7 !important; border-color: #a4ccf4 !important; 
}

.ys-user-basket a {
    border-bottom: 1px solid !important;
    outline: medium none !important;
    text-decoration: none !important;
	
}

.ys-user-basket .txt:focus, .ys-user-basket textarea:focus {
    border-color: #0660CF !important;
}

.ys-user-basket a:hover{ color: #0660cf !important; border-color: #6baced !important; }

.ys-user-basket .button, .ys-user-basket .button1,  .ys-user-basket .button2, .ys-user-basket .button3, .ys-user-basket .button4, .ys-user-basket .button5, .ys-user-basket .button7, .ys-user-basket .button8, .ys-user-basket .button9, .ys-user-basket .button13, .ys-user-basket .button14 {

	background-color: #0660cf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6dbffd), color-stop(100%, #0660cf));
	background-image: -webkit-linear-gradient(top, #6dbffd, #0660cf);
	background-image: -moz-linear-gradient(top, #6dbffd, #0660cf);
	background-image: -ms-linear-gradient(top, #6dbffd, #0660cf);
	background-image: -o-linear-gradient(top, #6dbffd, #0660cf);
	background-image: linear-gradient(top, #6dbffd, #0660cf);
	border: 1px solid #0660cf;
	-webkit-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5;
	-moz-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5;
	box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5;
	color: #fff !important;
	text-shadow: 0 -1px 0 #1069d3;
	
}

.ys-user-basket .button:hover, .ys-user-basket .button1:hover, .ys-user-basket .button2:hover, .ys-user-basket .button3:hover, .ys-user-basket .button4:hover, .ys-user-basket .button5:hover, .ys-user-basket .button7:hover, .ys-user-basket .button8:hover, .ys-user-basket .button9:hover, .ys-user-basket .button13:hover, .ys-user-basket .button14:hover {
	background: #3b91e7; box-shadow: 0 1px 0 0 #64def8 inset, 0 2px 0 0 #e5e5e5; 
}
.ys-user-basket .button:active,.ys-user-basket .button1:active,.ys-user-basket .button2:active,.ys-user-basket .button3:active,.ys-user-basket .button4:active,.ys-user-basket .button5:active,.ys-user-basket .button7:active,.ys-user-basket .button8:active,.ys-user-basket .button9:active,.ys-user-basket .button13:active,.ys-user-basket .button14:active {
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0660cf), color-stop(100%, #6dbffd));
	background-image: -webkit-linear-gradient(top, #0660cf, #6dbffd);
	background-image: -moz-linear-gradient(top, #0660cf, #6dbffd);
	background-image: -ms-linear-gradient(top, #0660cf, #6dbffd);
	background-image: -o-linear-gradient(top, #0660cf, #6dbffd);
	background-image: linear-gradient(top, #0660cf, #6dbffd);
}


.ys_tab_nav {padding-left: 0 !important;}
.ys_tab_nav li a {
    background: url("images/tv_pager_bg.png") no-repeat left center transparent !important;
    border: medium none !important;
    padding: 6px !important;
    text-decoration: none !important;
	border: none !important;
	color: #000 !important;
	
}

.ys_tab_nav li input {display: none;}

.ys_tab_nav li a.ys_active {
    background: url("images/tv_pager_active_ice.png") no-repeat left center transparent !important;
}
.ys_tab_nav li a:hover {
    background: url("images/tv_pager_hover_ice.png") no-repeat left center transparent !important;
	color: #000 !important;
}
.ys_tab_nav li{ list-style-type: none; border: none !important;}