.list-wrap{
    padding: 10px 10px 10px 0;
}
.list-wrap td{
    padding: 1px 3px 1px 0;
}
.list-wrap input[type=text]{
    width: 150px;
}
.list-wrap input.name{
    width: 250px;
}
.table-add-row{
    padding-left: 30px;
    margin-bottom: 20px;
}
#form-request button[type=submit]{
    padding: 5px 10px;
}
#form-request textarea{
    width: 650px;
    height: 100px;
}
#form-request table{
    width: 650px;
}
#form-request table input{
    width: 98%;
}
#form-request .textinput-wrapper input[type=text], #form-request .textinput-wrapper input[type=email]{
    width: 350px;
}
#form-request .textinput-wrapper .text{
    display: inline-block;
}
#form-request .textinput-wrapper .inner-wrap{
    display: block;
    width: 120px;
}
@media (max-width: 767px) {
    #form-request .textinput-wrapper input[type=text], #form-request .textinput-wrapper input[type=email]{
        width: inherit;
    }
    #form-request textarea{
        width: inherit;
        height: inherit;
    }
    #form-request table{
        width: inherit;
    }

}
