#gallery {
list-style-type:none;
float: left;
width: 100%;
}
#gallery li {
list-style-type:none;         
float: left;
padding: 5px;
}
#gallery img {
border: 1px solid #A0BF9D;
}

#jCarouselLiteDemo .carousel.vertical a.prev,
#jCarouselLiteDemo .carousel.vertical a.next {
	background-position: 50% 5px !important;
}