 #jCarouselLiteDemo .carousel  {
 	display: inline-block;
    margin-left: 30px;
 	margin-right: 30px;
    position: relative;
}
#jCarouselLiteDemo .carousel a.prev, #jCarouselLiteDemo .carousel a.next {
    display: block;
    position: absolute;
    width: 30px;
    height: 100%;
    text-decoration: none;
    background: url("/yenisite.resizer2/js/jCarouselLite/image/imageNavLeft.gif") left no-repeat;
}
#jCarouselLiteDemo .carousel.vertical a.prev,
#jCarouselLiteDemo .carousel.vertical a.next {
	background-position: top;
}
#jCarouselLiteDemo .carousel a.next {
    background: url("/yenisite.resizer2/js/jCarouselLite/image/imageNavRight.gif") right no-repeat;
   	right: -30px;
}
#jCarouselLiteDemo .carousel a.next:hover {
    background-image: url("/yenisite.resizer2/js/jCarouselLite/image/imageNavRightHover.gif");
}
#jCarouselLiteDemo .carousel a.prev {
	left: -30px;
}
#jCarouselLiteDemo .carousel a.prev:hover {
    background-image: url("/yenisite.resizer2/js/jCarouselLite/image/imageNavLeftHover.gif");
}    
#jCarouselLiteDemo .carousel a:hover, #jCarouselLiteDemo .carousel a:active {
    border: none;
    outline: none;
} 

#jCarouselLiteDemo .carousel a{border:none !important;}

#jCarouselLiteDemo .carousel .jCarouselLite {
    float: left;
}