.big-slider .slogan{opacity: 0.85;}
.relative{position: relative;}
#bxdinamic_bitronic2_basket_string,
.btn-main.btn-search,
.btn-main.to-top,
.benefit .img-wrap,
.btn-main,
.btn-show-results,
.btn-continue,
.search-controls .ik_select,
.ik_select_link .trigger,
.btn-buy-wrap .buy,
.top-line a.toggled,
.account-authorized .btn-logout,
[data-header-version="v1"] .sitenav-menu-item.toggled>a,
[data-header-version="v4"] .sitenav-menu-item.toggled>a,
[data-header-version="v2"] .sitenav-menu-item.toggled,
[data-header-version="v3"] .sitenav-menu-item.toggled,
[data-header-version="v5"] .sitenav-menu-item.toggled,
.cool-slider .btn-buy,
.items-table .apply-coupon,
.form-order .make-order, .special-blocks .combo-link a.i-number, .special-blocks .combo-header a.i-number,
.account-menu .btn-logout, .form_account-settings .btn-plus, .form_account-settings .btn-fileinput, .btn-main:visited,
.btn-show-results:visited, .btn-continue:visited, .search-controls .ik_select:visited, .ik_select_link .trigger:visited,
.btn-buy-wrap .buy:visited, .top-line a.toggled:visited, .account-authorized .btn-logout:visited,
[data-header-version="v1"] .sitenav-menu-item.toggled>a:visited, [data-header-version="v4"] .sitenav-menu-item.toggled>a:visited,
[data-header-version="v2"] .sitenav-menu-item.toggled:visited, [data-header-version="v3"] .sitenav-menu-item.toggled:visited,
[data-header-version="v5"] .sitenav-menu-item.toggled:visited, .cool-slider .btn-buy:visited, .items-table .apply-coupon:visited,
.form-order .make-order:visited, .special-blocks .combo-link a.i-number:visited, .special-blocks .combo-header a.i-number:visited,
.account-menu .btn-logout:visited, .form_account-settings .btn-plus:visited, .form_account-settings .btn-fileinput:visited,
.pagination-item.active,
.catalog-table-item .quick-view-switch .quick-view-fake-btn{
    background: #273a60!important;
}
.catalog-table .table-header .art-wrap {
    width: 115px;
}
.catalog-table .table-header .brand-wrap {
    float: left;
    width: 124px;
}
.catalog-table-item .brand {
    width: 120px;
}
.catalog-table-item .quick-view-switch{
    line-height: 30px;
    position: relative;
    float: right;
    width: 200px;
    background: transparent;
}
.catalog-table-item:hover .quick-view-switch {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.catalog-table-item .quick-view-switch .quick-view-fake-btn {
    font-size: 10px;
}
#filter-at-top .form_filter{
    margin-bottom: 15px;
}
.my-cost{
    font-size: 11px;
    padding: 0 3px;
}
.my-cost.calc{
    background: #288d60!important;
    color: #ffffff!important;
    box-shadow: none;
}
.empty-my-cost{
    height: 30px;
    min-width: 63px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.price.calc{
    color: #288d60;
}
.popup_favorites .btn-action{
    margin-right: 2px;
}
.catalog-table .table-header .quan{width: 90px;}
.catalog-table .table-header .avail-n-price{width: 170px;}
.catalog-table-item .art{background: none!important;}
.catalog.blocks .availability-info .when-available-for-order .info-tag,
.buy-block-wrap .availability-info .when-available-for-order .info-tag {
    background: none;
}
.catalog.blocks .availability-info .when-available-for-order .info-tag .avail-dot{display: inline-block;}
.catalog.blocks .availability-info .when-available-for-order .info-tag .my-cost{padding: 0 6px;}
.catalog.blocks .availability-info{
    display: inline-block!important;
}
.catalog.blocks .availability-status.available-for-order{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: left;
}
.catalog.blocks .availability-info .btn-action {
    height: 30px;
    line-height: 29px;
    min-width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #000;
    text-shadow: none;
    background: #dedce4;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.17);
    border: none;
}
.blocks-item .photo-wrap.no-thumbs{height: 200px;}
.ajax-search-item .btn-buy>i{display: block;}
.ajax-search-item .item-actions{width: 127px;}
.ajax-search-item .item-actions .my-cost{
    display: inline-block;
    padding: 14px 4px 9px;
}
.when-available-for-order .my-cost{
    color: #000;
    text-shadow: none;
    background: #dedce4;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.17);
    border: none;
    margin-right: 0px;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
}
[data-top-line-position="fixed-top"] .popup_favorites{right: -124px;}
[data-top-line-position="fixed-top"] .popup_favorites .info-tag{background: none!important;}
#modal_productcount button.btn-submit{
    width: 450px;
}

@media (min-width: 768px) {
    [data-header-version="v1"] .catalog-menu.mainmenu .catalog-menu-lvl0-item:hover .menu-lvl0-link,
    [data-header-version="v1"] .catalog-menu.mainmenu .menu-lvl0-link.active,
    [data-header-version="v4"] .catalog-menu.mainmenu .catalog-menu-lvl0-item:hover .menu-lvl0-link,
    [data-header-version="v4"] .catalog-menu.mainmenu .menu-lvl0-link.active{
        background: #999aa3!important;
        box-shadow: inset 0px -2px 0px #999aa3!important;
    }
    .menu-lvl0-link {
        text-align: center;
        padding: 7px 10px 7px 10px;
    }
    #modal_productcount .modal-dialog{
        margin: 250px auto;
    }
}
@media (max-width: 767px){
    .catalog-menu.mainmenu .btn-catalog, .catalog-menu.mainmenu .btn-catalog:visited {
        color: #fff;
        text-shadow: none;
        background: #999aa3!important;
        box-shadow: inset 0px -2px 0px #999aa3!important;
    }
    #modal_productcount button.btn-submit, #modal_productcount button.buy{
        width: 276px;
    }
}

#modal_productcount .modal-dialog{
    width: 540px;
}
#modal_productcount .request-count{
    margin-top: 10px;
}
#modal_productcount .request-count label.textinput-wrapper{
    font-weight: normal;
    display: block;
    float: left;
    padding-right: 7px;
}
#modal_productcount .request-count .quantity-counter-wrap{
    max-width: 35%;
    display: block;
    float: left;
    padding-top: 6px;
}
#modal_productcount .request-count button.btn-submit{
    width: 165px;
    margin-top: 0;
}
a.productcount-link{
    display: none;
}
.ajax-search-item .btn-main.btn-buy.main-clicked.forced,
.ajax-search-item .btn-main.btn-buy.already-in-cart{
    background: #288d60!important;
    padding: 5px 15px;
}
.availability-info .when-available-for-order .info-tag{
    background: none!important;
}
.when-available-for-order .tooltip{
    top: 25px!important;
}
.hide{
    display: none!important;
}
.about img{
    max-width: 90%;
}
.brand-name img{
    max-width: 100%;
}

.avail-dot.count-levels{
    display: inline-block;
    vertical-align: middle;
}
.avail-dot.count-level-1:before {
    background: #999999;
    background: -webkit-linear-gradient(#888, #aaa);
    background: linear-gradient(#888, #aaa);
}

.avail-dot.count-level-2:before {
    background: #8b1d23;
    background: -webkit-linear-gradient(#8b1d23, #fc4448);
    background: linear-gradient(#8b1d23, #fc4448);
}

.avail-dot.count-level-3:before {
    background: #ffaa00;
    background: -webkit-linear-gradient(#c80, #fa0);
    background: linear-gradient(#c80, #fa0);
}

.avail-dot.count-level-4:before {
    background: #327a12;
    background: -webkit-linear-gradient(#8cc926, #327a12);
    background: linear-gradient(#8cc926, #327a12);
}


@media (max-width: 767px) {
    #modal_productcount .request-count .btn-buy-wrap{
        margin-top: 7px;
    }
    .catalog-table-item .actions{
        width: auto;
        display: block;
        padding: 0;
        padding-top: 5px;
        float: left;
    }
    .catalog-table-item .actions .btn-action.favorite{
        display: none;
    }
    .catalog-table .btn-action.my-cost{
        height: 20px;
        line-height: 20px;
    }
    .modal_quick-view.modal-dialog{
        width: auto;
    }
}

.quantity-counter .quantity-input.requested{
    color: #ffffff;
}