@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-3d76:before {
	content: "\e000";
}
.flaticon-analysis1:before {
	content: "\e001";
}
.flaticon-arrow128:before {
	content: "\e002";
}
.flaticon-back1:before {
	content: "\e003";
}
.flaticon-blockade:before {
	content: "\e004";
}
.flaticon-calculator2:before {
	content: "\e005";
}
.flaticon-check33:before {
	content: "\e006";
}
.flaticon-checked10:before {
	content: "\e007";
}
.flaticon-compare1:before {
	content: "\e008";
}
.flaticon-control3:before {
	content: "\e009";
}
.flaticon-delete30:before {
	content: "\e00a";
}
.flaticon-document9:before {
	content: "\e00b";
}
.flaticon-dollar67:before {
	content: "\e00c";
}
.flaticon-double104:before {
	content: "\e00d";
}
.flaticon-ecommerce16:before {
	content: "\e00e";
}
.flaticon-envelope29:before {
	content: "\e00f";
}
.flaticon-eye36:before {
	content: "\e010";
}
.flaticon-favorites5:before {
	content: "\e011";
}
.flaticon-finger4:before {
	content: "\e012";
}
.flaticon-folded11:before {
	content: "\e013";
}
.flaticon-funnel3:before {
	content: "\e014";
}
.flaticon-gift41:before {
	content: "\e015";
}
.flaticon-info13:before {
	content: "\e016";
}
.flaticon-key105:before {
	content: "\e017";
}
.flaticon-link49:before {
	content: "\e018";
}
.flaticon-list79:before {
	content: "\e019";
}
.flaticon-logout13:before {
	content: "\e01a";
}
.flaticon-mail9:before {
	content: "\e01b";
}
.flaticon-menu6:before {
	content: "\e01c";
}
.flaticon-movie16:before {
	content: "\e01d";
}
.flaticon-newspapre:before {
	content: "\e01e";
}
.flaticon-open12:before {
	content: "\e01f";
}
.flaticon-open16:before {
	content: "\e020";
}
.flaticon-outlined3:before {
	content: "\e021";
}
.flaticon-package6:before {
	content: "\e022";
}
.flaticon-pencil72:before {
	content: "\e023";
}
.flaticon-refresh:before {
	content: "\e024";
}
.flaticon-retweet1:before {
	content: "\e025";
}
.flaticon-right10:before {
	content: "\e026";
}
.flaticon-running15:before {
	content: "\e027";
}
.flaticon-sale14:before {
	content: "\e028";
}
.flaticon-search50:before {
	content: "\e029";
}
.flaticon-settings1:before {
	content: "\e02a";
}
.flaticon-shopping102:before {
	content: "\e02b";
}
.flaticon-shopping106:before {
	content: "\e02c";
}
.flaticon-shopping220:before {
	content: "\e02d";
}
.flaticon-small53:before {
	content: "\e02e";
}
.flaticon-small58:before {
	content: "\e02f";
}
.flaticon-smiling36:before {
	content: "\e030";
}
.flaticon-sort27:before {
	content: "\e031";
}
.flaticon-speech90:before {
	content: "\e032";
}
.flaticon-suv:before {
	content: "\e033";
}
.flaticon-text133:before {
	content: "\e034";
}
.flaticon-text70:before {
	content: "\e035";
}
.flaticon-trophy36:before {
	content: "\e036";
}
.flaticon-two21:before {
	content: "\e037";
}
.flaticon-two328:before {
	content: "\e038";
}
.flaticon-verified18:before {
	content: "\e039";
}
.flaticon-view8:before {
	content: "\e03a";
}
.flaticon-visualization5:before {
	content: "\e03b";
}
.flaticon-wallet:before {
	content: "\e03c";
}
.flaticon-webpage3:before {
	content: "\e03d";
}
.flaticon-x5:before {
	content: "\e03e";
}
.flaticon-zoom62:before {
	content: "\e03f";
}
