@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-11:before {
	content: "\e000";
}
.flaticon-111:before {
	content: "\e001";
}
.flaticon-2:before {
	content: "\e002";
}
.flaticon-23:before {
	content: "\e003";
}
.flaticon-251:before {
	content: "\e004";
}
.flaticon-33:before {
	content: "\e005";
}
.flaticon-3d76:before {
	content: "\e006";
}
.flaticon-43:before {
	content: "\e007";
}
.flaticon-431:before {
	content: "\e008";
}
.flaticon-4312:before {
	content: "\e009";
}
.flaticon-43123:before {
	content: "\e00a";
}
.flaticon-6:before {
	content: "\e00b";
}
.flaticon-61:before {
	content: "\e00c";
}
.flaticon-612:before {
	content: "\e00d";
}
.flaticon-6123:before {
	content: "\e00e";
}
.flaticon-7:before {
	content: "\e00f";
}
.flaticon-71:before {
	content: "\e010";
}
.flaticon-9:before {
	content: "\e011";
}
.flaticon-alignment:before {
	content: "\e012";
}
.flaticon-alignment1:before {
	content: "\e013";
}
.flaticon-annual2:before {
	content: "\e014";
}
.flaticon-arrow128:before {
	content: "\e015";
}
.flaticon-arrow133:before {
	content: "\e016";
}
.flaticon-arrow486:before {
	content: "\e017";
}
.flaticon-arrow492:before {
	content: "\e018";
}
.flaticon-back15:before {
	content: "\e019";
}
.flaticon-balance3:before {
	content: "\e01a";
}
.flaticon-analysis1:before {
	content: "\e01b";
}
.flaticon-open12:before {
	content: "\e01c";
}
.flaticon-calculator2:before {
	content: "\e01d";
}
.flaticon-x5:before {
	content: "\e01e";
}
.flaticon-check14:before {
	content: "\e01f";
}
.flaticon-check33:before {
	content: "\e020";
}
.flaticon-checked10:before {
	content: "\e021";
}
.flaticon-clock4:before {
	content: "\e022";
}
.flaticon-close47:before {
	content: "\e023";
}
.flaticon-closed40:before {
	content: "\e024";
}
.flaticon-control3:before {
	content: "\e025";
}
.flaticon-right10:before {
	content: "\e026";
}
.flaticon-sale:before {
	content: "\e027";
}
.flaticon-doc:before {
	content: "\e028";
}
.flaticon-docx1:before {
	content: "\e029";
}
.flaticon-dollar67:before {
	content: "\e02a";
}
.flaticon-ecommerce16:before {
	content: "\e02b";
}
.flaticon-envelope29:before {
	content: "\e02c";
}
.flaticon-eye36:before {
	content: "\e02d";
}
.flaticon-favorites5:before {
	content: "\e02e";
}
.flaticon-first43:before {
	content: "\e02f";
}
.flaticon-folded11:before {
	content: "\e030";
}
.flaticon-folder24:before {
	content: "\e031";
}
.flaticon-like:before {
	content: "\e032";
}
.flaticon-heart72:before {
	content: "\e033";
}
.flaticon-home1:before {
	content: "\e034";
}
.flaticon-increase10:before {
	content: "\e035";
}
.flaticon-info13:before {
	content: "\e036";
}
.flaticon-jpg2:before {
	content: "\e037";
}
.flaticon-key22:before {
	content: "\e038";
}
.flaticon-link49:before {
	content: "\e039";
}
.flaticon-list79:before {
	content: "\e03a";
}
.flaticon-logout13:before {
	content: "\e03b";
}
.flaticon-heart3:before {
	content: "\e03c";
}
.flaticon-mail9:before {
	content: "\e03d";
}
.flaticon-menu6:before {
	content: "\e03e";
}
.flaticon-parameters:before {
	content: "\e03f";
}
.flaticon-movie16:before {
	content: "\e040";
}
.flaticon-new2:before {
	content: "\e041";
}
.flaticon-new292:before {
	content: "\e042";
}
.flaticon-object10:before {
	content: "\e043";
}
.flaticon-object11:before {
	content: "\e044";
}
.flaticon-object5:before {
	content: "\e045";
}
.flaticon-object6:before {
	content: "\e046";
}
.flaticon-object7:before {
	content: "\e047";
}
.flaticon-object8:before {
	content: "\e048";
}
.flaticon-open16:before {
	content: "\e049";
}
.flaticon-outlined3:before {
	content: "\e04a";
}
.flaticon-package6:before {
	content: "\e04b";
}
.flaticon-blockade:before {
	content: "\e04c";
}
.flaticon-pdf17:before {
	content: "\e04d";
}
.flaticon-pencil72:before {
	content: "\e04e";
}
.flaticon-person101:before {
	content: "\e04f";
}
.flaticon-phone12:before {
	content: "\e050";
}
.flaticon-location4:before {
	content: "\e051";
}
.flaticon-random:before {
	content: "\e052";
}
.flaticon-right-alignment:before {
	content: "\e053";
}
.flaticon-right20:before {
	content: "\e054";
}
.flaticon-running15:before {
	content: "\e055";
}
.flaticon-search50:before {
	content: "\e056";
}
.flaticon-settings1:before {
	content: "\e057";
}
.flaticon-shopping109:before {
	content: "\e058";
}
.flaticon-shopping158:before {
	content: "\e059";
}
.flaticon-shopping220:before {
	content: "\e05a";
}
.flaticon-shopping63:before {
	content: "\e05b";
}
.flaticon-speech90:before {
	content: "\e05c";
}
.flaticon-black13:before {
	content: "\e05d";
}
.flaticon-stopwatch6:before {
	content: "\e05e";
}
.flaticon-tablet27:before {
	content: "\e05f";
}
.flaticon-text133:before {
	content: "\e060";
}
.flaticon-newspapre:before {
	content: "\e061";
}
.flaticon-trash29:before {
	content: "\e062";
}
.flaticon-two328:before {
	content: "\e063";
}
.flaticon-refresh:before {
	content: "\e064";
}
.flaticon-two21:before {
	content: "\e065";
}
.flaticon-user12:before {
	content: "\e066";
}
.flaticon-verified18:before {
	content: "\e067";
}
.flaticon-viewing:before {
	content: "\e068";
}
.flaticon-visualization5:before {
	content: "\e069";
}
.flaticon-25:before {
	content: "\e06a";
}
.flaticon-webpage3:before {
	content: "\e06b";
}
.flaticon-widescreen:before {
	content: "\e06c";
}
.flaticon-zoom62:before {
	content: "\e06d";
}
