#ys-locator a.close {
    font-size: 16px;
    color: #e00c0c;
    text-align: center;
    line-height: 28px;
}

#ys-locator a.close:hover {
    color: #ff7b11;
    border-color: #ff7b11 !important;
}

#ys-locator a.close:active {
    color: #000000;
    border-color: #000000 !important;
}

#ys-locator .txt {
    border: 1px solid #000000;
}

#ys-locator .txt:focus {
    border-color: #e00c0c;
}

#ys-locator a {
    color: #e00c0c;
    border-color: #f39e9e;
}

#ys-locator a:hover {
    color: #ff7b11;
    border-color: #ffb980;
}

#ys-locator .button {
    background-color: #cf2020;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd9742), color-stop(100%, #cf2020));
    background-image: -webkit-linear-gradient(top, #fd9742, #cf2020);
    background-image: -moz-linear-gradient(top, #fd9742, #cf2020);
    background-image: -ms-linear-gradient(top, #fd9742, #cf2020);
    background-image: -o-linear-gradient(top, #fd9742, #cf2020);
    background-image: linear-gradient(top, #fd9742, #cf2020);
    border: 1px solid #cf2020;
    -webkit-box-shadow: 0 1px 0 0 #ffcd30 inset, 0 2px 0 0 #e5e5e5;
    -moz-box-shadow: 0 1px 0 0 #ffcd30 inset, 0 2px 0 0 #e5e5e5;
    box-shadow: 0 1px 0 0 #ffcd30 inset;
    color: #fff !important;
    text-shadow: 0 -1px 0 #d12522;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9742', endColorstr='#cf2020')";
}

#ys-locator .button:hover {
    background: #ea6534;
    box-shadow: 0 1px 0 0 #f99826 inset;
}

#ys-locator .button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf2020), color-stop(100%, #fd9742));
    background-image: -webkit-linear-gradient(top, #cf2020, #fd9742);
    background-image: -moz-linear-gradient(top, #cf2020, #fd9742);
    background-image: -ms-linear-gradient(top, #cf2020, #fd9742);
    background-image: -o-linear-gradient(top, #cf2020, #fd9742);
    background-image: linear-gradient(top, #cf2020, #fd9742);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf2020', endColorstr='#fd9742')";
}