#ys-locator a.close {
    font-size: 16px;
    color: #ffbc00;
    text-align: center;
    line-height: 28px;
}

#ys-locator a.close:hover {
    color: #e9b933;
    border-color: #e9b933 !important;
}

#ys-locator a.close:active {
    color: #005edd;
    border-color: #005edd !important;
}

#ys-locator .txt {
    border: 1px solid #c0c0c0;
}

#ys-locator .txt:hover {
    border-color: #939393;
}

#ys-locator .txt:focus {
    border-color: #005edd;
}

#ys-locator a {
    color: #005edd;
    border-color: #6fa4ec;
}

#ys-locator a:hover {
    color: #5a5a5a;
    border-color: #a2a2a2;
}

#ys-locator .button {
    background-color: #ffaa00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc00), color-stop(100%, #ffaa00));
    background-image: -webkit-linear-gradient(top, #ffdc00, #ffaa00);
    background-image: -moz-linear-gradient(top, #ffdc00, #ffaa00);
    background-image: -ms-linear-gradient(top, #ffdc00, #ffaa00);
    background-image: -o-linear-gradient(top, #ffdc00, #ffaa00);
    background-image: linear-gradient(top, #ffdc00, #ffaa00);
    border: 1px solid #ffbc00;
    box-shadow: 0 1px 0 0 #fff500 inset;
    color: #fff !important;
    text-shadow: 0 -1px 0 #e1a600;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc00', endColorstr='#ffaa00')";
}

#ys-locator .button:hover {
    background: #ffbc00;
    box-shadow: 0 1px 0 0 #ffeb00 inset;
}

#ys-locator .button:active {
   background-color: #ffb400;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb400), color-stop(100%, #fdd900));
    background-image: -webkit-linear-gradient(top, #ffb400, #fdd900);
    background-image: -moz-linear-gradient(top, #ffb400, #fdd900);
    background-image: -ms-linear-gradient(top, #ffb400, #fdd900);
    background-image: -o-linear-gradient(top, #ffb400, #fdd900);
    background-image: linear-gradient(top, #ffb400, #fdd900);
    box-shadow: inset 2px 2px 5px 1px #c88500 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb400', endColorstr='#fdd900')";
}