#ys-ms-slider .ms_tab_block ul li.loader {
	color: #35ab01!important;
}

/*TABS*/

#ys-ms-slider .slider_cat li.active span, #ys-ms-slider .slider_cat li:active:not(.child_hover) span {
    background: url(../img/tv_tab_active.png) top center no-repeat !important;
} 

#ys-ms-slider .slider_cat li.active .cl, #ys-ms-slider .slider_cat li:active:not(.child_hover) .cl {
    background: url(../img/tv_tab_active_corners.png) top left no-repeat !important;
}

#ys-ms-slider .slider_cat li.active .cr, #ys-ms-slider .slider_cat li:active:not(.child_hover) .cr {
    background: url(../img/tv_tab_active_corners.png) -5px 0 no-repeat !important;
}

#ys-ms-slider .slider_cat li.active a {
    color: #0088dd !important;
}




#ys-ms-slider a {
    color: #35ab01!important;
    border-color: #afe996!important;
}

#ys-ms-slider a:hover {
    color: #319fe4;
    border-color: #b5def8!important;
}


#ys-ms-slider  .button1, #ys-ms-slider  .button2, #ys-ms-slider  .button7, #ys-ms-slider  .button8 {
    background-color: #35ab01 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce331), color-stop(100%, #35ab01)) !important;
    background-image: -webkit-linear-gradient(top, #7ce331, #35ab01) !important;
    background-image: -moz-linear-gradient(top, #7ce331, #35ab01) !important;
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f) !important;
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f) !important;
    background-image: linear-gradient(top, #7fbf4d, #63a62f) !important;
    border: 1px solid #35ab01 !important;
    -webkit-box-shadow: 0 2px 0 0 #e5e5e5 !important;
    -moz-box-shadow: 0 2px 0 0 #e5e5e5 !important;
    box-shadow: 0 1px 0 0 #d6f757 inset !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #15a700 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ce331', endColorstr='#118400')" !important;
}

#ys-ms-slider  .button1:hover , #ys-ms-slider  .button2:hover, #ys-ms-slider  .button7:hover , #ys-ms-slider  .button8:hover {
    background: #5ac81a!important;
    box-shadow: 0 1px 0 0 #99ef2c inset!important;
}

#ys-ms-slider  .button1:active , #ys-ms-slider  .button2:active, #ys-ms-slider  .button7:active , #ys-ms-slider  .button8:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #118400), color-stop(100%, #7ce331)) !important;
    background-image: -webkit-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -moz-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -ms-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -o-linear-gradient(top, #118400, #7ce331) !important;
    background-image: linear-gradient(top, #118400, #7ce331) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#118400', endColorstr='#7ce331')" !important;
}


#ys-ms-slider .tv_tab .title {
    color: #0088dd !important;
}


#ys-ms-slider .add_to_basket {
    text-shadow: 0 -1px 1px #149f00;
    background: url(../img/add_to_basket.png) top left no-repeat;
}

#ys-ms-slider .button1 span {
    background: url(../img/i_phone.png) no-repeat left;
}

#ys-ms-slider .button2 span {
    background: url(../img/i_basket.png) no-repeat left;
}

#ys-ms-slider .have {
    background: #d5f1ff !important;
}







/*Фон слайдера*/
.slider1_BG{
    width:747px !important;
    height:5px !important;
    margin-left: -70px !important;
    -webkit-border-radius: 3px/2px !important;
   -moz-border-radius: 3px/2px !important;
   border-radius: 3px/2px !important;
    background-color: #c2c2c2 !important;
    -webkit-box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
    -moz-box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
    box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
}

/*Стиль кнопки слайдера*/
#ys-ms-slider .ui-slider-handle {
	background: none !important;
    height:6px !important;
    width:120px !important;
    margin-left: -60px !important;
    position:absolute !important;
    top:-2px !important;
   /*  display:block !important; */
    cursor:pointer !important;
   -webkit-border-radius: 3px/2px 2px 3px  !important; 
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #35ab01 !important;
    background-image: -webkit-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: -moz-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: -o-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: linear-gradient(to top, #35ab01, #7fe533) !important;

}



#ys-ms-slider  .ui-slider:not(.ui-slider-disabled) .ui-slider-handle:hover{
    -webkit-border-radius: 3px/2px 2px 3px !important;
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #41d500 !important;
    background-image: -webkit-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: -moz-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: -o-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: linear-gradient(to top, #45e000, #bdff8c) !important;

}
#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle.ui-state-active {
   -webkit-border-radius: 3px/2px 2px 3px !important;
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #35ab01 !important;
    background-image: -webkit-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: -moz-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: -o-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: linear-gradient(to bottom, #35ab01, #7fe533) !important;
}





#ys-ms-slider .slider_cat li a.ys-mainspec-rounded,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded,
#ys-ms-slider .blc_special a.ys-mainspec-rounded {
    display: inline-block !important;
    position: relative !important;
    text-shadow: none !important;
    border-bottom:none !important;
    top: -8px !important;
    width: 24px !important;
    height: 24px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    background-color: #35ab01 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ce331), color-stop(100%, #35ab01)) !important;
    background-image: -webkit-linear-gradient(top, #7ce331, #35ab01) !important;
    background-image: -moz-linear-gradient(top, #7ce331, #35ab01) !important;
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f) !important;
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f) !important;
    background-image: linear-gradient(top, #7fbf4d, #63a62f) !important;
    border: 1px solid #35ab01 !important;
    -webkit-box-shadow: 0 2px 0 0 #e5e5e5 !important;
    -moz-box-shadow: 0 2px 0 0 #e5e5e5 !important;
    box-shadow: 0 1px 0 0 #d6f757 inset !important;
    color: #fff !important;
  
}


#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):hover {
    background: #5ac81a!important;
    box-shadow: 0 1px 0 0 #99ef2c inset!important;
}

#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #118400), color-stop(100%, #7ce331)) !important;
    background-image: -webkit-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -moz-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -ms-linear-gradient(top, #118400, #7ce331) !important;
    background-image: -o-linear-gradient(top, #118400, #7ce331) !important;
    background-image: linear-gradient(top, #118400, #7ce331) !important;
}

#ys-ms-slider .slider_cat li:hover:not(.active) span a.tab_main{
	 color: #08d !important;
}


