#ys-ms-slider .ms_tab_block ul li.loader {
	color: #3b91e7!important;
}

#ys-ms-slider  .button1, #ys-ms-slider  .button2, #ys-ms-slider  .button7, #ys-ms-slider  .button8  {
    background-color: #0660cf !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6dbffd), color-stop(100%, #0660cf)) !important;
    background-image: -webkit-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -moz-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -ms-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -o-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: linear-gradient(top, #6dbffd, #0660cf) !important;
    border: 1px solid #0660cf !important;
    -webkit-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important;
    -moz-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important;
    box-shadow: 0 1px 0 0 #bfedff inset !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #1069d3 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dbffd', endColorstr='#0660cf')" !important;
}

#ys-ms-slider  .button1:hover , #ys-ms-slider  .button2:hover, #ys-ms-slider  .button7:hover , #ys-ms-slider  .button8:hover  {
    background: #3b91e7 !important;
    box-shadow: 0 1px 0 0 #64def8 inset !important;
}

#ys-ms-slider  .button1:active , #ys-ms-slider  .button2:active, #ys-ms-slider  .button7:active , #ys-ms-slider  .button8:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0660cf), color-stop(100%, #6dbffd)) !important;
    background-image: -webkit-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -moz-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -ms-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -o-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: linear-gradient(top, #0660cf, #6dbffd) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0660cf', endColorstr='#6dbffd')" !important;
}

#ys-ms-slider a {
    color: #3b91e7!important;
    border-color: #a4ccf4!important;
}

#ys-ms-slider a:hover {
    color: #0660cf;
    border-color: #6baced!important;
}


#ys-ms-slider .tv_tab .title {
    color: #0088dd;
} 

#ys-ms-slider .slider_cat li.active span, #ys-ms-slider .slider_cat li:active:not(.child_hover) span {
    background: url(../img/tv_tab_active_ice.png) top center no-repeat!important;
}

#ys-ms-slider .slider_cat li.active .cl, #ys-ms-slider .slider_cat li:active:not(.child_hover) .cl {
    background: url(../img/tv_tab_active_corners_ice.png) top left no-repeat!important;
}

#ys-ms-slider .slider_cat li.active .cr, #ys-ms-slider .slider_cat li:active:not(.child_hover) .cr {
    background: url(../img/tv_tab_active_corners_ice.png) -5px 0 no-repeat!important;
}

#ys-ms-slider .slider_cat li.active a {
    color: #737373 !important;
}

#ys-ms-slider .add_to_basket {
    text-shadow: 0 -1px 1px #0660cf;
    background: url(../img/add_to_basket_ice.png) top left no-repeat;
}




#ys-ms-slider .button1 span {
    background: url(../img/i_phone_ice.png) no-repeat left;
}

#ys-ms-slider .button2 span {
    background: url(../img/i_basket_ice.png) no-repeat left;
}


#ys-ms-slider .have {
    background: #d5f1ff!important;
}



.ys-title-search-result .similar_items li:hover {
    background: #f4f5f5 !important;
}


.slider1_BG{
    width:747px !important;
    height:5px !important;
    margin-left: -70px !important;
    -webkit-border-radius: 3px/2px !important;
    -moz-border-radius: 3px/2px !important;
    border-radius: 3px/2px !important;
    background-color: #f4f5f5 !important;
    -webkit-box-shadow: inset 1px 1px 3px rgba(110,114,118,.5) !important;
    -moz-box-shadow: inset 1px 1px 3px rgba(110,114,118,.5) !important;
    box-shadow: inset 1px 1px 3px rgba(110,114,118,.5) !important;
}


#ys-ms-slider .ui-slider-handle {
	background: none !important;
    height:6px !important;
    width:120px !important;
    margin-left: -60px !important;
    position:absolute !important;
    top:-2px !important;
   /*  display:block !important; */
    cursor:pointer !important;
    -webkit-border-radius: 3px/2px 2px 3px !important;
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    border: solid 1px #0660cf !important;
    background-image: -webkit-linear-gradient(bottom, #005ccd, #72c3ff) !important;
    background-image: -moz-linear-gradient(bottom, #005ccd, #72c3ff) !important;
    background-image: -o-linear-gradient(bottom, #005ccd, #72c3ff) !important;
    background-image: linear-gradient(to top, #005ccd, #72c3ff) !important;

}


#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle:hover{
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    border: solid 1px #4598ff !important;
    background-image: -webkit-linear-gradient(bottom, #4397ff, #9dd6ff) !important;
    background-image: -moz-linear-gradient(bottom, #4397ff, #9dd6ff) !important;
    background-image: -o-linear-gradient(bottom, #4397ff, #9dd6ff) !important;
    background-image: linear-gradient(to top, #4397ff, #9dd6ff) !important;

}
#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle.ui-state-active {
 
   
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.89) !important;
    border: solid 1px #0660cf !important;
    background-image: -webkit-linear-gradient(top, #005ccd, #72c3ff) !important;
    background-image: -moz-linear-gradient(top, #005ccd, #72c3ff) !important;
    background-image: -o-linear-gradient(top, #005ccd, #72c3ff) !important;
    background-image: linear-gradient(to bottom, #005ccd, #72c3ff) !important;
}




#ys-ms-slider .slider_cat li a.ys-mainspec-rounded,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded,
#ys-ms-slider .blc_special a.ys-mainspec-rounded{
     display: inline-block !important;
    position: relative !important;
     text-shadow: none !important;
    border-bottom:none !important;
    top: -8px !important;
    width: 24px !important;
    height: 24px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    background-color: #0660cf !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6dbffd), color-stop(100%, #0660cf)) !important;
    background-image: -webkit-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -moz-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -ms-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: -o-linear-gradient(top, #6dbffd, #0660cf) !important;
    background-image: linear-gradient(top, #6dbffd, #0660cf) !important;
    border: 1px solid #0660cf !important;
    -webkit-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important;
    -moz-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important;
    box-shadow: 0 1px 0 0 #bfedff inset !important;
    color: #fff !important;
  
}


#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):hover {
    background: #3b91e7 !important;
    box-shadow: 0 1px 0 0 #64def8 inset !important;
}

#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):active {
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0660cf), color-stop(100%, #6dbffd)) !important;
    background-image: -webkit-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -moz-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -ms-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: -o-linear-gradient(top, #0660cf, #6dbffd) !important;
    background-image: linear-gradient(top, #0660cf, #6dbffd) !important;
}

#ys-ms-slider .slider_cat li:hover:not(.active) span a.tab_main{
	 color:  #0660cf !important;
}





