#ys-ms-slider .ms_tab_block ul li.loader {
	color: #57758a!important;
}
#ys-ms-slider  .button1, #ys-ms-slider  .button2, #ys-ms-slider  .button7, #ys-ms-slider  .button8  {
    background-color: #6e7278!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6a9ac), color-stop(100%, #6e7278))!important;
    background-image: -webkit-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -moz-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -ms-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -o-linear-gradient(top, #a6a9ac, #6e7278)!important; 
    background-image: linear-gradient(top, #a6a9ac, #6e7278)!important;
    border: 1px solid #878a8e!important;
    box-shadow: 0 1px 0 0 #dcddde inset !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #383e46!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a9ac', endColorstr='#6e7278')"!important;
}

#ys-ms-slider  .button1:hover , #ys-ms-slider  .button2:hover, #ys-ms-slider  .button7:hover , #ys-ms-slider  .button8:hover  {
    background: #8e9195 !important;
    box-shadow: 0 1px 0 0 #dcddde inset !important;
}

#ys-ms-slider  .button1:active , #ys-ms-slider  .button2:active, #ys-ms-slider  .button7:active , #ys-ms-slider  .button8:active {
    background-color: #ffb400 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74787d), color-stop(100%, #a6a9ac)) !important;
    background-image: -webkit-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -moz-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -ms-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -o-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: linear-gradient(top, #74787d, #a6a9ac) !important;
    box-shadow: inset 2px 2px 5px 1px #4d5259 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#74787d', endColorstr='#a6a9ac')" !important;
}
 
#ys-ms-slider a {
    color: #57758a!important;
    border-color: #a0b1bd!important;
}

#ys-ms-slider a:hover {
    color: #383e46;
    border-color: #8f9297!important;
}


#ys-ms-slider .tv_tab .title {
    color: #383e46;
}

#ys-ms-slider .slider_cat li.active span, #ys-ms-slider  .slider_cat li:active:not(.child_hover) span {
    background: url(../img/metal_tv_tab_active.png) top center no-repeat !important;
}

#ys-ms-slider .slider_cat li.active .cl, #ys-ms-slider  .slider_cat li:active:not(.child_hover) .cl {
    background: url(../img/metal_tv_tab_active_corners.png) top left no-repeat !important;
}

#ys-ms-slider .slider_cat li.active .cr, #ys-ms-slider  .slider_cat li:active:not(.child_hover) .cr {
    background: url(../img/metal_tv_tab_active_corners.png) -5px 0 no-repeat !important;
}

#ys-ms-slider .slider_cat li.active a {
    color: #737373 !important;
}

#ys-ms-slider .add_to_basket {
    text-shadow: 0 -1px 1px #0660cf;
    background: url(../img/add_to_basket_ice.png) top left no-repeat;
}



#ys-ms-slider .button1 span {
    background: url(../img/metal_i_phone.png) no-repeat left;
}

#ys-ms-slider .button2 span {
    background: url(../img/metal_i_basket.png) no-repeat left;
}


#ys-ms-slider .have {
    background: #d5f1ff!important;
}





.ys-title-search-result .similar_items li:hover {
    background: #eef1f3 !important;
}




/*Фон слайдера*/
.slider1_BG{
    width:747px !important;
    height:5px !important;
    margin-left: -70px !important;
    -webkit-border-radius: 3px/2px !important;
    -moz-border-radius: 3px/2px !important;
    border-radius: 3px/2px !important;
   background-color: #c2c2c2 !important;
    -webkit-box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
    -moz-box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
    box-shadow: inset 1px 1px rgba(138,138,138,.75) !important;
}



/*Стиль кнопки слайдера*/
#ys-ms-slider .ui-slider-handle {
	background: none !important;
    height:6px !important;
    width:120px !important;
    margin-left: -60px !important;
    position:absolute !important;
    top:-2px !important;
   /*  display:block !important; */
    cursor:pointer !important;
    -webkit-border-radius: 3px/2px 2px 3px !important;
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #000 !important;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    border: solid 1px #22262b !important;
    background-image: -webkit-linear-gradient(top, #57758a, #383e46) !important;
    background-image: -moz-linear-gradient(top, #57758a, #383e46) !important;
    background-image: -o-linear-gradient(top, #57758a, #383e46) !important;
    background-image: linear-gradient(to bottom, #57758a, #383e46) !important;

}


#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle:hover{
   background-color: #259c01 !important;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    border: solid 1px #606a77 !important;
    background-image: -webkit-linear-gradient(top, #b6cddd, #757f8d) !important;
    background-image: -moz-linear-gradient(top, #b6cddd, #757f8d) !important;
    background-image: -o-linear-gradient(top, #b6cddd, #757f8d) !important;
    background-image: linear-gradient(to bottom, #b6cddd, #757f8d) !important;

}
#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle.ui-state-active {
 
   
    background-color: #259c01 !important;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    box-shadow: inset 0 1px rgba(255,255,255,.44) !important;
    border: solid 1px #22262b !important;
    background-image: -webkit-linear-gradient(bottom, #57758a, #383e46) !important;
    background-image: -moz-linear-gradient(bottom, #57758a, #383e46) !important;
    background-image: -o-linear-gradient(bottom, #57758a, #383e46) !important;
    background-image: linear-gradient(to top, #57758a, #383e46) !important;
}






#ys-ms-slider .slider_cat li a.ys-mainspec-rounded,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded,
#ys-ms-slider .blc_special a.ys-mainspec-rounded {
    display: inline-block !important;
    position: relative !important;
    text-shadow: none !important;
    border-bottom:none !important;
    top: -8px !important;
    width: 24px !important;
    height: 24px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    background-color: #6e7278!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6a9ac), color-stop(100%, #6e7278))!important;
    background-image: -webkit-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -moz-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -ms-linear-gradient(top, #a6a9ac, #6e7278)!important;
    background-image: -o-linear-gradient(top, #a6a9ac, #6e7278)!important; 
    background-image: linear-gradient(top, #a6a9ac, #6e7278)!important;
    border: 1px solid #878a8e!important;
    box-shadow: 0 1px 0 0 #dcddde inset !important;
    color: #fff !important;
  
}


#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):hover {
    background: #8e9195 !important;
    box-shadow: 0 1px 0 0 #dcddde inset !important;
}

#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):active {
    background-color: #ffb400 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74787d), color-stop(100%, #a6a9ac)) !important;
    background-image: -webkit-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -moz-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -ms-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: -o-linear-gradient(top, #74787d, #a6a9ac) !important;
    background-image: linear-gradient(top, #74787d, #a6a9ac) !important;
    box-shadow: inset 2px 2px 5px 1px #4d5259 !important;
}

#ys-ms-slider .slider_cat li:hover:not(.active) span a.tab_main{
	color: #5a5a5a !important;
}
