#ys-ms-slider .ms_tab_block ul li.loader {
	color: #005edd!important;
}
#ys-ms-slider  .button1, #ys-ms-slider  .button2, #ys-ms-slider  .button7, #ys-ms-slider  .button8  {
    background-color: #ffaa00 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc00), color-stop(100%, #ffaa00)) !important;
    background-image: -webkit-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -moz-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -ms-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -o-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: linear-gradient(top, #ffdc00, #ffaa00) !important;
    border: 1px solid #ffbc00 !important;
    box-shadow: 0 1px 0 0 #fff500 inset !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #e1a600 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc00', endColorstr='#ffaa00')" !important;
}

#ys-ms-slider  .button1:hover , #ys-ms-slider  .button2:hover, #ys-ms-slider  .button7:hover , #ys-ms-slider  .button8:hover  {
    background: #ffbc00 !important;
    box-shadow: 0 1px 0 0 #ffeb00 inset !important;
}

#ys-ms-slider  .button1:active , #ys-ms-slider  .button2:active, #ys-ms-slider  .button7:active , #ys-ms-slider  .button8:active {
    background-color: #ffb400 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb400), color-stop(100%, #fdd900)) !important;
    background-image: -webkit-linear-gradient(top, #ffb400, #fdd900) !important;
    background-image: -moz-linear-gradient(top, #ffb400, #fdd900) !important;
    background-image: -ms-linear-gradient(top, #ffb400, #fdd900) !important;
    background-image: -o-linear-gradient(top, #ffb400, #fdd900) !important;
    background-image: linear-gradient(top, #ffb400, #fdd900) !important;
    box-shadow: inset 2px 2px 5px 1px #c88500 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb400', endColorstr='#fdd900')" !important;
}

#ys-ms-slider a {
    color: #005edd!important;
    border-color: #6fa4ec!important;
}

#ys-ms-slider a:hover {
    color: #5a5a5a;
    border-color: #a2a2a2!important;
}
 


#ys-ms-slider .tv_tab .title {
    color: #000;
}

#ys-ms-slider .slider_cat li.active span, #ys-ms-slider .slider_cat li:active:not(.child_hover) span {
    background: url(../img/yellow_tv_tab_active.png) top center no-repeat !important;
}

#ys-ms-slider .slider_cat li.active .cl, #ys-ms-slider .slider_cat li:active:not(.child_hover) .cl {
    background: url(../img/yellow_tv_tab_active_corners.png) top left no-repeat !important;
}

#ys-ms-slider .slider_cat li.active .cr, #ys-ms-slider  .slider_cat li:active:not(.child_hover) .cr {
    background: url(../img/yellow_tv_tab_active_corners.png) -5px 0 no-repeat !important;
}

#ys-ms-slider .slider_cat li.active a {
    color: #737373 !important;
}

#ys-ms-slider .add_to_basket {
    text-shadow: 0 -1px 1px #0660cf;
    background: url(../img/add_to_basket_ice.png) top left no-repeat;
}


#ys-ms-slider .button1 span {
    background: url(../img/yellow_i_phone.png) no-repeat left;
}

#ys-ms-slider .button2 span {
    background: url(../img/yellow_i_basket.png) no-repeat left;
}



#ys-ms-slider .have {
    background: #d5f1ff!important;
}




.ys-title-search-result .similar_items li:hover {
     background: #e5effc !important;
}








/*Фон слайдера*/
.slider1_BG{
    width:747px !important;
    height:5px !important;
    margin-left: -70px !important;
     -webkit-border-radius: 3px/2px !important;
   -moz-border-radius: 3px/2px !important;
   border-radius: 3px/2px !important;
   background-color: #c2c2c2 !important;
   -webkit-box-shadow: inset 0 1px rgba(138,138,138,.75) !important;
   -moz-box-shadow: inset 0 1px rgba(138,138,138,.75) !important;
   box-shadow: inset 0 1px rgba(138,138,138,.75) !important;
    
}

/*Стиль кнопки слайдера*/
#ys-ms-slider .ui-slider .ui-slider-handle {
	background: none !important;
    height:6px !important;
    width:120px !important;
    margin-left: -60px !important;
    position:absolute !important;
    top:-2px !important;
   /*  display:block !important; */
    cursor:pointer !important;
    -webkit-border-radius: 3px/2px 2px 3px !important;
    -moz-border-radius: 3px/2px 2px 3px !important;
    border-radius: 3px/2px 2px 3px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 0 2px 4px rgba(16,16,16,.68), inset 0 1px #fff700 !important;
    -moz-box-shadow: 0 2px 4px rgba(16,16,16,.68), inset 0 1px #fff700 !important;
    box-shadow: 0 2px 4px rgba(16,16,16,.68), inset 0 1px #fff700 !important;
    border: solid 1px #ffbd00 !important;
    background-image: -webkit-linear-gradient(bottom, #ffae00, #ffda00 78%) !important;
    background-image: -moz-linear-gradient(bottom, #ffae00, #ffda00 78%) !important;
    background-image: -o-linear-gradient(bottom, #ffae00, #ffda00 78%) !important;
    background-image: linear-gradient(to top, #ffae00, #ffda00 78%) !important;

}


#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle:hover{
    
    border: solid 1px #ffd763 !important;
    background-image: -webkit-linear-gradient(bottom, #ffc74e, #ffef8e 78%) !important;
    background-image: -moz-linear-gradient(bottom, #ffc74e, #ffef8e 78%) !important;
    background-image: -o-linear-gradient(bottom, #ffc74e, #ffef8e 78%) !important;
    background-image: linear-gradient(to top, #ffc74e, #ffef8e 78%) !important;

}
#ys-ms-slider .ui-slider:not(.ui-slider-disabled) .ui-slider-handle.ui-state-active {
    border: solid 1px #ffbd00 !important;
    background-image: -webkit-linear-gradient(top, #ffae00, #ffda00 78%) !important;
    background-image: -moz-linear-gradient(top, #ffae00, #ffda00 78%) !important;
    background-image: -o-linear-gradient(top, #ffae00, #ffda00 78%) !important;
    background-image: linear-gradient(to bottom, #ffae00, #ffda00 78%) !important;
}


#ys-ms-slider .slider_cat li a.ys-mainspec-rounded,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded,
#ys-ms-slider .blc_special a.ys-mainspec-rounded {
     display: inline-block !important;
    position: relative !important;
     text-shadow: none !important;
    border-bottom:none !important;
    top: -8px !important;
    width: 24px !important;
    height: 24px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    background-color: #ffaa00 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc00), color-stop(100%, #ffaa00)) !important;
    background-image: -webkit-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -moz-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -ms-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: -o-linear-gradient(top, #ffdc00, #ffaa00) !important;
    background-image: linear-gradient(top, #ffdc00, #ffaa00) !important;
    border: 1px solid #ffbc00 !important;
    box-shadow: 0 1px 0 0 #fff500 inset !important;
   color: #000 !important;
  
}


#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):hover,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):hover {
    background: #ffbc00 !important;
    box-shadow: 0 1px 0 0 #ffeb00 inset !important;
}

#ys-ms-slider .slider_cat li a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .slider_cat li.active a.ys-mainspec-rounded:not(.unactive):active,
#ys-ms-slider .blc_special a.ys-mainspec-rounded:not(.unactive):active {
    box-shadow: 0 1px 0 0 #ffeb00 inset !important; 
    background-color: #ffb400 !important;
    box-shadow: inset 2px 2px 5px 1px #c88500 !important;
}

#ys-ms-slider .slider_cat li:hover:not(.active) span a.tab_main{
	color: #5a5a5a !important;
}

