#modal_success, #modal_fail {
	z-index: 1051;
}

.inline {
	display: inline-block;
}

#filter-at-side .form_filter .filter-section:nth-child(n+3) {
  display: block;
}
.filter-section .textinput {
	height: 35px;
}

.wo_button {
	padding-right: 10px
}

/* Universal way to disable any link */
a.rz-no-pointer {
	pointer-events: none;
}

/* HIDE DISABLED VALUES IN SELECTBOXES */
.sku-dd .ik_select_option_disabled {
	display: none;
}

.form-order .buyer-info {
	display: block;
}

/* for bitrix edit mode */
body[data-top-line-position="fixed-top"] .top-line-content>div:nth-child(n+2),
body[data-top-line-position="fixed-bottom"] .top-line-content>div:nth-child(n+2),
body[data-top-line-position="not-fixed"] .top-line-content>div:nth-child(n+2) {
	display: inline-block;
}

/* for compare page without AJAX */
.compare-page .compare-switch {
	text-align: center;
}

/* for compare without addtobasket | favorites */
.compare-page .compare-item {
	min-height: 100px;
}

/* for compare empty text */
.compare-page .notetext {
	font-weight: bold;
}

/* for full-site mode link */
.copyright a.link, .copyright a.link:link {
	color: #fff;
  border-bottom-color: rgba(255,255,255,0.4);
	border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* for ajax search */
#search {
	display: block;
}
.category_0, .category_1, .category_all {
	display: none;
}
.category_0 tr.category_0,
.category_1 tr.category_1,
.category_all tr.category_0,
.category_all tr.category_1 {
	display: table-row;
}
.category_0 div.category_0,
.category_1 div.category_1,
.category_all div.category_all {
	display: block;
}

/* GeoIP */
.ys-loc-autocomplete {
	cursor: default;
}

.ys-loc-autocomplete .ys-loc-autoc-selected {
	opacity: 0.5;
}

/* Modals */

.modal-dialog {
	min-height: 220px;
	min-width: 300px;
}

#modal_quick-view .product-photo {
	cursor: default;
}

.modal-dialog .auth-privilegies {
	margin: 20px auto;
	max-width: 420px;
	text-align: left;
}

/* Catalog AJAX Pagination */

.more-catalog.disabled {
	cursor: default !important;
}
.more-catalog.disabled * {
	cursor: default !important;
	color: silver !important;
}
.more-catalog.disabled .btn-plus {
	background: #fff !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
.more-catalog.disabled .text {
	border: none !important;
}

/* ONE CLICK BUY */

.btn-action.one-click-buy {
	color: #000;
	text-shadow: none;
	background: -webkit-linear-gradient(#fff, #f3f5f4);
	background: linear-gradient(#fff,#f3f5f4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.66),inset 0px -2px 0px rgba(0,0,0,0.17);
	border: none;
}

.btn-action.one-click-buy:hover {
	color: #000;
	text-shadow: none;
	background: -webkit-linear-gradient(#ebebeb, #fff);
	background: linear-gradient(#ebebeb,#fff);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.66),inset 0px -2px 0px rgba(0,0,0,0.17);
	border: none;
}

.btn-action.one-click-buy:active {
	color: #000;
	text-shadow: none;
	background: -webkit-linear-gradient(#eaeaea, #f3f5f4);
	background: linear-gradient(#eaeaea,#f3f5f4);
	box-shadow: inset 0px 2px 0px rgba(0,0,0,0.17);
	border: none;
}

/* MESSAGES */

.message {
	font-size:     inherit;
	font-family:   "Open Sans", sans-serif;
	padding:       15px;
	margin-bottom: 20px;
	border:        1px solid transparent;
	border-radius: 4px;
}

.message.message-error {
	color:            #a94442;
	background-color: #f2dede;
	border-color:     #ebccd1;
}

.message.message-warning {
	color:            #8a6d3b;
	background-color: #fcf8e3;
	border-color:     #faebcc;
}

.message.message-success {
	color:            #3c763d;
	background-color: #dff0d8;
	border-color:     #d6e9c6;
}

/* SEARCH PAGE */

main.search-results-page:before {
	display: none;
}

main.search-results-page li.sort-list-item {
	padding: 0;
}

main.search-results-page li.sort-list-item.active {
	cursor: default;
	pointer-events: none;
}

main.search-results-page li.sort-list-item > a,
main.search-results-page li.sort-list-item > span {
	display: block;
	padding: 5px 26px 6px 10px;
}

main.search-results-page div.no-sort li.sort-list-item > a,
main.search-results-page div.no-sort li.sort-list-item > span {
	padding-right: 10px;
}

main.search-results-page li.sort-list-item a {
	color: #000;
}

main.search-results-page li.sort-list-item:after {
	margin: -15px 10px 0 0;
	float: right;
	pointer-events: none;
}

.store-info.notification-popup .store-indicator {
	display: inline-block;
	margin-top: 3px;
	margin-left: 1px;
}
.store-info.notification-popup .content {
	min-height: 50px;
}

/* VOTING */

ol.vote-items-list, ol.vote-items-list li {
	margin: 0; padding: 0; border: none; font-size: 100%; list-style-type: none;
}
.graph-bar {
	height:12px;
	font-size:12px;
	min-width:2px;
}
.graph {
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%;
	padding: 2px;
	margin-bottom: .5em;
}
.graph .bar {
	display: block;
	position: relative;
	text-align: center;
	height: 1em;
	line-height: 1em;
}
.graph .bar span {
	position: absolute;
	left: 1em;
}
.vote-answer-lolight {
    color:#999;
}

/* PERSONAL SECTION FORMS */

.form_forgot-pass input {
  width: 100%;
}
.form_forgot-pass label {
  width: 100%;
}
.form_forgot-pass{
  max-width: 400px;
}

/* OTHER */

#modal_basket .viewed-products {
	margin-top: 5px;
	margin-bottom: 5px;
}

.cache_time_debug {
	display: none !important;
}



@media (max-width: 767px) {
	.fixed-right .top-line-popup {
		left: auto;
	}
}
.delivery-type .select-store {
	display: none;
}
.delivery-type input:checked+.radio-item > .select-store {
	display: inline-block;
}

input[type="number"] {
	padding-right: 0 !important;
}
/* slider temporary fix */
.big-slider.container[data-big-slider-width="full"] .container {
	padding-left:  0;
	padding-right: 0;
}

.justify-fix:after {
	content: '';
	display: inline-block;
	width:   100%;
	height:  0;
}
.checkbox-content > .icon {
	vertical-align: middle;
}
.setting-content .combined_name {
	height: 66px;
	vertical-align: middle;
}
.setting-content .combined_name .wrapper {
	display: table-cell;
	height: 66px;
	vertical-align: middle;
	padding-left: 6px;
}
.setting-content .simple-slider {
	position: relative;
	top: 11px;
	width: auto;
	margin-left: 85px;
}

.order-dates img.calendar-icon {
	border: 0;
	width: 19px;
	height: 19px;
	margin: 1px;
	margin-left: 2px;
	cursor: pointer;
	vertical-align: middle;
}
.order-dates img.calendar-icon-hover {
	border: 0;
	background-color: transparent;
	margin: 1px;
	margin-left: 2px;
}
.account-order-page .btn-return:active {
	top: 1px;
}
.setting-content .data-type {
	margin-top: 10px;
}

/* for video on detail page */
.product-page .video .jwPlayer {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* for social buttons on detail page */
.product-page .social-buttons img {
	border: 0;
	margin: 3px;
}

.product-main .offer-slider {
	height: 100%;
}

.buy-block-content > .buy-buttons-wrap .btn-big.product_subscribe > .text {
	padding: 0;
}

/* disable catalog buttons before JS Load */
span.show-by.disabled,
span.view-type.disabled,
ul.sort-list.disabled {
	pointer-events: none;
	opacity: 0.3;
}
/* disable catalog buttons before JS Load */

/* status on-request */
.availability-comments-enabled .blocks-item .main-data .when-available-on-request .info-info,
.availability-comments-enabled .hurry-item .main-data .when-available-on-request .info-info,
.buy-block-content .availability-info .when-available-on-request .info-info,
.availability-info .when-available-on-request .info-info,
.when-available-on-request .for-order,
.when-available-for-order .on-request,
.buy.on-request,
.btn-buy-wrap.on-request .buy,
.buy-buttons-wrap.on-request .buy,
.buy-buttons-wrap.on-request .one-click-wrap,
button.request .text,
button .text.request {
	display: none;
}
.when-available-for-order.when-available-on-request .on-request,
button.request .text.request {
	display: inline;
}
.btn-buy-wrap.on-request .buy.on-request,
.buy-buttons-wrap.on-request .buy.on-request {
	display: inline-block;
}
td.on-request span.btn-buy-wrap.on-request {
	float: right;
	display: inline-block;
	line-height: 22px;
}
td.on-request span.on-request {
	line-height: 25px;
	display: inline;
}
/* status on-request */

/* /personal/profiles/ */
.form_account-settings .location-block-wrapper {
	width: 280px;
	font-weight: normal;
}
.form_account-settings textarea.textinput {
	height: auto;
}
.form_account-settings .ik_select_link_text {
	font-weight: normal;
}
.account-profiles .general-info {
	margin: 40px 0 30px;
}
.account-profiles .action-buttons {
	margin-left: 250px;
}
.account-profiles .btn-main {
	margin-left: 0;
	width: auto;
	padding: 10px;
}
/* /personal/profiles/ */
